body{
	font-family: 'Exo 2', sans-serif;
}

/*****************************header*************************************/
.wrapper {
	margin-right: auto;
	margin-left:  auto; 
	max-width: 1180px; 
	padding-right: 10px; 
	padding-left:  10px; 
}

#header{
	background: url(../img/background_h.png) repeat, url(../img/background_h1.png) center no-repeat;
	background-size: cover;
    background-color: rgb(0, 35, 60, 0.5);
}	

.mainHeaderInfo{
	background: url(../img/mainHeaderBottomLine.png) repeat-x;
	background-position: bottom;
}

.clear{
	clear: both;
}

.headerPhones{
	float: left;
	width: 950px;
}

.headerPhonesBl{
	width: 550px;
	float: right;
	margin: 30px 0 25px 0;
}

.number{
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	background: url(../img/phone.png) no-repeat;
	background-position: left;
	float: left;
	width: 220px;
	margin-right: 20px;
	padding: 3px 0 3px 40px;
}
.contactUs{
	background-color: #0296ea;
	width: 170px;
	height: 30px;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 20px 0 0;
	border: none;
	outline: none;
}

.feedback{
	float: left;
	width: 170px;
}
.lang{
	float: left;
	width: 90px;
	margin: 5px 0 0 10px;
}
#language{
	font-size: 16px;
	font-weight: 400;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	border: none;
	color: #fff;
	outline: none;
}
.menuTopNav{
	float: left;
    width: 940px;
    padding-left: 22px;
}

.menuTopNav ul{
    margin-bottom: 0;
}

.menuTopNav li >a {
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-align: right;
	padding: 20px 22px 26px;
	text-decoration: none;
	border-top: 5px solid transparent;
}

.menuTopNav li >a:hover {
	border-top: 5px solid #0296ea;
	background: rgba(0, 0, 0, 0.4);	
}
.head{
	padding-top: 125px;
    padding-bottom: 55px;
}


.Russia{
   border-left: 2px solid #fff;
   margin-left: 2px; 
   padding-left: 10px;	
}

.logo{
	float: left;
	margin: 30px 50px 20px 10px;	
}

.menu-top-nav #navbar{
	padding: 150px 350px;
	padding-bottom: 0;
	margin: 0;
}
.menu-top-nav #navbar li{
	display: inline;
	font-size: 20px;
	font-weight: 400;
	color: #fff;

}
.menu-top-nav li > a{
	color: #fff;
	text-decoration: none;
}
.menu-top-nav li > a:hover{
	text-decoration: overline #0296ea;
	background-color: rgb(0, 0, 0);
}
.description p{
	font-size: 36px;
	font-weight: 200;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.head p{
	font-size: 72px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.mainBlock{
	margin-top: -285px;
}
.mainBlock .wrapper{
    max-width: 1180px;
}

.work{
	background: url(../img/background_h.png) repeat, url(../img/work.png) center no-repeat;
	background-color: rgba(0, 35, 60, 0.5);
	height: 430px;
	width: 560px;
	border: 10px solid #0296ea;
	float: left;
	margin-right: 20px;
 }
 .work .h3,
 .service .h3{
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 110px 0 45px 0;
 }
 .work .work-services,
 .service .work-services{
	font-size: 19px;
    line-height: 26px;
	font-weight: 200;
	color: rgb(238, 238, 238);
	text-align: center;
	width: 478px;
	margin: 0 auto 40px;
 }

 .service{
	background: url(../img/background_h.png) repeat, url(../img/service.png) center no-repeat;
	background-color: rgba(0, 35, 60, 0.5);
	height: 430px;
	width: 560px;
	border: 10px solid #0296ea;	
	float: left;
 }
 .btn{
	font-size: 18px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	background:  transparent;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
    display: block;
	width: 200px;
	margin-bottom: 50px;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	border-left: none;
	border-right: none;
	text-decoration: none;
    padding: 20px 0;
 }
 .btnHeader{
 	text-align: center;
 	margin-top: 100px;
 	padding-bottom: 440px;
 }
 .btn-header{
	font-size: 18px;
	font-weight: 200;
	color: rgb(255, 255, 255);
	background:  transparent;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	border-left: none;
	border-right: none;
    text-decoration: none;
	padding: 18px 44px;
 }


/***********************body-site***********************/
#bodySite{
	background-color: #fff;
	background: url(../img/background_body1.png);
    margin-top: -170px;
    padding-top: 170px;
}
#bodySite #welcome{
	font-size: 18px;
	font-weight: 200;
	color: rgb(15, 69, 131);
	text-transform: uppercase;
	text-align: center;
	padding: 80px 0 100px 0;
}
#bodySite h3{
	font-size: 48px;
	font-weight: 900;
	color: rgb(2, 150, 234);
	text-transform: uppercase;
	text-align: center;
}
#bodySite #welcomeDescription{
	font-size: 18px;
	font-weight: 200;
	color: rgb(112, 112, 112);
	text-align: center;
	padding-top: 30px;
}

#bodySite .menuDescription{
    margin-top: 60px;
}

#bodySite .sectionDescription{
	margin-left: 10px;
	margin-bottom: 60px;
}
.sectionDescriptionImg{
	float: left;
	width: 140px;
	height: 236px;
}
.sectionDescriptionText{
	float: left;
	width: 400px;
}

.sectionDescription h4{
	font-size: 24px;
	font-weight: 900;
	color: rgb(2, 150, 234);
	text-transform: uppercase;
	margin-bottom: 35px;
	margin-top: 25px;
}

.sectionDescription p{
	font-size: 17px;
	font-weight: 100;
}
.ownProduction{
	float: left;
	height: 300px; 
	width: 540px;
	margin-right: 90px;
}
.scientificPotential{
	float: left;
	height: 236px; 
	width: 540px;	
}
.experienceIntroductions{
	float: left;
	height: 300px; 
	width: 540px;
	margin-right: 90px;
}
.staff{
	float: left;
	height: 236px; 
	width: 540px;
}


/*****************************banner***************************/
#banner{
	padding-top: 100px;
    padding-bottom: 100px;
	background: url(../img/background_h.png) repeat, url(../img/banner_back1.png) center no-repeat;
	background-size: cover;
	background-color: rgba(0, 35, 60, 0.5);	
}
#banner .bannerAligin{
	text-align: center;
}
#banner #persent{
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 70px;
	margin-bottom: 35px;
}
.bannerAligin p{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 100;
	color: #fff;
}
.bannerAligin .btn-header{ 
    display: block;
    width: 200px;
    margin: 60px auto 0;
    padding: 20px 0;
}

/******************************partners********************************/
#partners{
	background-color: #fff;
	background: url(../img/partners11.png);
}
#partners h3{
    font-size: 48px;
    color: rgb(2, 150, 234);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
 }
 #partners p{
    font-size: 18px;
    font-weight: 300;
    color: rgb(112, 112, 112);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 60px;
 }
 .responsive .slick-dots li button{
 	padding: 0;
 	width: 15px;
 	height: 15px;
 }
 .responsive .slick-dots li button:before{
    font-size: 15px;
}
.responsive .slick-prev:before, .slick-next:before {
	font-size: 25px;
	color: #0296ea;
	background-color: #fff;
}
 .responsive .slick-dots li.slick-active button:before{
 	color: #0296ea;
 	opacity: 1;
 }
 /******************************contacts*****************************/
 #contacts{
 	padding-top: 100px;
	background: url(../img/background_h.png) repeat, url(../img/klient2.png) center no-repeat;
 	background-size: cover;
	background-color: rgb(0, 35, 60, 0.5);	
 }

#contacts .wrapper{
	text-align: center;
}

#contacts h3{
 	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 35px;
	text-align: center;
}

#contacts p{
  	text-align: center;
  	font-size: 18px;
	color: #fff;
}

.contactsForm{
	padding-bottom: 100px;
	padding-top: 40px;
}
.contactsName,
.contactsPhone{
    font-size: 18px;
    color: #fff;
    padding: 19px 42px;
    border-radius: 40px;
    margin-right: 10px;	
    margin-left: 10px;
    outline: none;
    background: transparent;
    border-color: #028ad8;
    border-style: solid;
}

.contactsForm #submit{
	background-color: #0296ea;
    width: 300px;
    height: 60px;
    margin-left: 10px;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    outline: none;
}
/****************************contactsMail******************************/
#contactsMail{
	padding-top: 100px;
	background-color: #0296ea;
}
  #contactsMail h3{
 	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 35px;
	text-align: center;
}
#contactsMail .question{
	text-align: center;
    font-size: 18px;
}
#contactsMail p{
    padding-left: 20px;
  	font-size: 20px;
	color: #fff;
}
.sectionContactsMail{
  	padding-top: 40px;
  	padding-bottom: 100px;
}
.contactsMail1{
    float: left;
    width: 80px;
}
.contactsMail2{
    float: left; 
    width: 310px;
    padding-top: 30px;
}
.contactsMail2pt20{
	padding-top: 20px;
}
/*****************************maps********************************/
 #map {
   width: 100%;
   height: 500px;
   background-color: grey;
 }


/*****************************footer****************************/
#footer{
	background-color: #0f4583;
}
.footerLeft{
	float: left;
	font-size: 14px;
	font-family: "Untitled";
	color: #fff;
	margin-top: 30px;
	margin-bottom: 35px;
}
.footerRight{
	float: right;
	font-size: 14px;
	font-family: "Untitled";
	color: #fff;
	margin-top: 30px;
	margin-bottom: 35px;
}
#footer img{
	float: right;
	margin-top: 15px;
	margin-left: 15px;	
}