body{
	font-family: 'Exo 2', sans-serif;
}

/*****************************header*************************************/
.wrapper {
	margin-right: auto;
	margin-left:  auto; 
	max-width: 1180px; 
	padding-right: 10px; 
	padding-left:  10px; 
}

#header{
	background: url(../img/background_h.png) repeat, url(../img/background_h1.png) center no-repeat;
	background-size: cover;
    background-color: rgba(0, 35, 60, 0.8);
    background-blend-mode: multiply;
}	

.mainHeaderInfo{
	background: url(../img/mainHeaderBottomLine.png) repeat-x;
	background-position: bottom;
}

.clear{
	clear: both;
}

.headerPhones{
	float: left;
	width: 950px;
}

.headerPhonesBl{
	width: 550px;
	float: right;
	margin: 30px 0 25px 0;
}

.number{
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	background: url(../img/phone.png) no-repeat;
	background-position: left;
	float: left;
	width: 200px;
	margin-right: 20px;
	padding: 3px 0 3px 40px;
}

.contactUs{
	background-color: #0296ea;
	width: 170px;
	height: 30px;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0 20px 0 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.feedback{
	float: left;
	width: 170px;
}

.lang{
	float: left;
	width: 90px;
    padding: 5px 0 5px 14px;
    border-left: 1px solid #fff;
    margin-left: 14px;
}

#language{
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	border: none;
	color: #fff;
	outline: none;
}

.menuTopNav{
	float: left;
    width: 940px;
    padding-left: 22px;
}

.menuBtnForSmScreens{
	display: none;
	width: 70px;
	float: right;
	margin: 0 10px 10px;
	padding: 11px 10px 7px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #0296ea;
	border-radius: 20px;
	font-size: 12px;
	cursor: pointer;
}
.menuBtnForSmScreens .menuBtnLines{
	width:22px;
	float: left;
	margin-right: 9px;
}
.menuBtnForSmScreens .icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-bottom: 4px;
}

.menuTopNav ul{
    margin-bottom: 0;
}

.menuTopNav li >a {
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-align: right;
	padding: 20px 22px 30px;
	text-decoration: none;
	border-top: 5px solid transparent;
}

.menuTopNav li >a:hover {
	border-top: 5px solid #0296ea;
	background: rgba(0, 0, 0, 0.4);	
}
.head{
	padding-top: 125px;
    padding-bottom: 55px;
}


.Russia{
   border-left: 2px solid #fff;
   margin-left: 2px; 
   padding-left: 10px;	
}

.logo{
	float: left;
	margin: 30px 50px 20px 10px;	
}

.description p{
	font-size: 36px;
	font-weight: 200;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.head p{
	font-size: 72px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.mainBlock{
	margin-top: -285px;
}
.mainBlock .wrapper{
    max-width: 1180px;
}

.work{
	background:  url(../img/work.png);
	background-color: rgba(0, 35, 60, 0.8);
    background-blend-mode: multiply;
	height: 430px;
	width: 560px;
	border: 10px solid #0296ea;
	float: left;
	margin-right: 20px;
 }
 .work .h3,
 .service .h3{
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 110px 0 45px 0;
 }
 .work .work-services,
 .service .work-services{
	font-size: 19px;
    line-height: 26px;
	font-weight: 200;
	color: rgb(238, 238, 238);
	text-align: center;
	width: 478px;
	margin: 0 auto 40px;
 }

 .service{
	background: url(../img/service.png) center no-repeat;
	background-color: rgba(0, 35, 60, 0.8);
    background-blend-mode: multiply;
	height: 430px;
	width: 560px;
	border: 10px solid #0296ea;	
	float: left;
 }
 .btn{
	font-size: 18px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	background:  transparent;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto 50px;
    display: block;
	width: 200px;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	border-left: none;
	border-right: none;
	text-decoration: none;
    padding: 20px 0;
 }
 .btnHeader{
 	text-align: center;
 	margin-top: 100px;
 	padding-bottom: 440px;
 }
 .btn-header{
	font-size: 18px;
	font-weight: 200;
	color: rgb(255, 255, 255);
	background:  transparent;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	border-left: none;
	border-right: none;
    text-decoration: none;
	padding: 18px 44px;
 }


/***********************body-site***********************/
#bodySite{
	background-color: #fff;
	background: url(../img/background_body1.png);
    margin-top: -170px;
    padding-top: 170px;
}
#bodySite #welcome{
	font-size: 18px;
	font-weight: 200;
	color: rgb(15, 69, 131);
	text-transform: uppercase;
	text-align: center;
	padding: 80px 0 100px 0;
}
#bodySite h3{
	font-size: 48px;
	font-weight: 900;
	color: rgb(2, 150, 234);
	text-transform: uppercase;
	text-align: center;
}
#bodySite #welcomeDescription{
	font-size: 18px;
	font-weight: 200;
    line-height: 20px;
	color: rgb(112, 112, 112);
	text-align: center;
	padding-top: 30px;
}

#bodySite .menuDescription{
    margin-top: 60px;
}

#bodySite .sectionDescription{
	margin-left: 10px;
	margin-bottom: 60px;
}
.sectionDescriptionImg{
	float: left;
	width: 140px;
	height: 236px;
}
.sectionDescriptionText{
	float: left;
	width: 400px;
}

.sectionDescription h4{
	font-size: 24px;
	font-weight: 900;
	color: rgb(2, 150, 234);
	text-transform: uppercase;
	margin-bottom: 35px;
	margin-top: 25px;
}

.sectionDescription p{
	font-size: 17px;
	font-weight: 100;
	line-height: 26px;
}

.ownProduction{
	float: left;
	height: 300px; 
	width: 540px;
	margin-right: 90px;
}
.scientificPotential{
	float: left;
	height: 236px; 
	width: 540px;	
}
.experienceIntroductions{
	float: left;
	height: 300px; 
	width: 540px;
	margin-right: 90px;
}
.staff{
	float: left;
	height: 236px; 
	width: 540px;
}


/*****************************banner***************************/
#banner{
	padding-top: 100px;
    padding-bottom: 100px;
	background: url(../img/background_h.png) repeat, url(../img/banner_back1.png) center no-repeat;
	background-size: cover;
    background-color: rgba(0, 35, 60, 0.8);
    background-blend-mode: multiply;
}
#banner .bannerAligin{
	text-align: center;
}
#banner #persent{
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 70px;
	margin-bottom: 35px;
}
.bannerAligin p{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 100;
	color: #fff;
}
.bannerAligin .btn-header{ 
    display: block;
    width: 200px;
    margin: 60px auto 0;
    padding: 20px 0;
}

/******************************partners********************************/
#partners{
	background-color: #fff;
	background: url(../img/background_body1.png);
	background-size: cover;
	padding-bottom: 165px;
}
#partners h3{
    font-size: 48px;
    color: rgb(2, 150, 234);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
 }
#partners p{
	font-size: 18px;
	font-weight: 300;
	color: rgb(112, 112, 112);
	text-align: center;
	padding-top: 30px;
	margin-bottom: 60px;
}
.responsive .slick-dots li button{
	padding: 0;
	width: 15px;
	height: 15px;
}
.responsive .slick-dots li button:before{
	font-size: 15px;
}
.responsive .slick-prev:before, 
.responsive .slick-next:before{
	font-size: 30px;
	color: #0296ea;
	background-color: #fff;
	content: '›';
	line-height: 0;
}
.responsive .slick-prev:before{
	content: '‹';	
}
.responsive .slick-dots li.slick-active button:before{
	color: #0296ea;
	opacity: 1;
}
.responsive .slick-dots{
	bottom: -65px;
}
.responsive .slick-next {
	right: -10px;
}

 /******************************contacts*****************************/
 #contacts{
 	padding-top: 100px;
	background: url(../img/background_h.png) repeat, url(../img/klient2.png) center no-repeat;
 	background-size: cover;
    background-color: rgba(0, 35, 60, 0.8);
    background-blend-mode: multiply;
 }

#contacts .wrapper{
	text-align: center;
}

#contacts h3{
 	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 35px;
	text-align: center;
}

#contacts p{
  	text-align: center;
  	font-size: 18px;
	color: #fff;
}

.contactsForm{
	padding-bottom: 100px;
	padding-top: 40px;
}
.contactsName,
.contactsPhone{
    font-size: 18px;
    color: #fff;
    padding: 19px 42px;
    border-radius: 40px;
    margin-right: 10px;	
    margin-left: 10px;
    outline: none;
    background: transparent;
    border-color: #028ad8;
    border-style: solid;
}

.contactsForm #submit{
	background-color: #0296ea;
    width: 300px;
    height: 60px;
    margin-left: 10px;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    outline: none;
	cursor: pointer;
}
/****************************contactsMail******************************/
#contactsMail{
	padding-top: 100px;
	background-color: #0296ea;
}
  #contactsMail h3{
 	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 35px;
	text-align: center;
}
#contactsMail .question{
	text-align: center;
    font-size: 18px;
}
#contactsMail p{
    padding-left: 20px;
  	font-size: 20px;
	color: #fff;
}
.sectionContactsMail{
  	padding-top: 40px;
  	padding-bottom: 100px;
}
.contactsMail1{
    float: left;
    width: 80px;
}
.contactsMail2{
    float: left; 
    width: 310px;
    padding-top: 28px;
}
.contactsMail2pt20{
	padding-top: 20px;
}
/*****************************maps********************************/
 #map {
   width: 100%;
   height: 500px;
   background-color: grey;
 }


/*****************************footer****************************/
#footer{
	background-color: #0f4583;
}
.footerLeft{
	float: left;
	font-size: 14px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 35px;
}
.footerRight{
	float: right;
	font-size: 14px;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 35px;
}
#footer img{
	float: right;
	margin-top: 15px;
	margin-left: 15px;	
}

/*****************************************************************/
@media only screen and (max-width : 1200px) {
	.menuTopNav li >a {
		font-size: 16px;
		padding: 25px 17px 30px;
	}
	.logo {
		margin: 30px 0 20px 2%;
		width: 20%;
	}
	.headerPhones {
		width: 78%;
	}
	.menuTopNav{
		width: 77%;
		padding-left: 1%;
	}
	.work{
		width: 46%;
		margin-right: 3%;
	}
	.service{
		width: 46%;
	}
	.work .work-services, .service .work-services{
		width: 96%;
	}
	#bodySite{
		background-size: contain;
	}
	.ownProduction,
	.scientificPotential,
	.experienceIntroductions,
	.staff{
		width: 48%;
		margin-right: 2%;
		height: auto;
		margin-bottom: 30px;
	}
	.sectionDescriptionText{
		width: 75%;
	}
	.sectionDescriptionImg{
		width: 25%;
	}
	.sectionDescription h4{
		font-size: 20px;
		margin-top: 125px;
	}
	.contactsName, .contactsPhone{
		width: 29%;
		padding: 15px 3%;
	}
	.contactsForm #submit{
		width: 25%;
		padding: 19px 3%;
		height: auto;
	}
	.contactsMail1 {
		width: 7%;
	}
	.contactsMail2 {
		width: 26%;
	}
	.responsive .slick-prev {
		left: -15px;
	}
}
@media only screen and (max-width : 992px) {
	.menuTopNav li >a {
		padding: 26px 9px 31px;
		font-size: 14px;
	}
	.menuTopNav {
		width: 75%;
		padding-left: 3%;
	}
	.work {
		width: 46%;
		margin-bottom: 20px;
		background-size: cover;
		margin-right: 2%;
	}
	.service {
		width: 46%;
	}
	.sectionDescriptionImg {
		width: 30%;
	}
	.sectionDescriptionText {
		width: 70%;
	}
	.sectionDescription h4 {
		font-size: 16px;
	}
}
@media only screen and (max-width : 768px) {
	.logo {
		width: 31%;
	}
	.headerPhones {
		width: 67%;
	}
	.number{
		margin-bottom: 10px;
	}

	.menuTopNav {
		width: 65%;
		padding-left: 0;
	}
	.menuBtnForSmScreens{
		display: block;
	}
	#navbar{
		display: none;
	}

	.head {
		padding-bottom: 60px;
	}
	.head p {
		font-size: 50px;
	}
	.description p {
		font-size: 24px;
		line-height: 34px;
	}
	.btnHeader {
		margin-top: 80px;
	}

	.headerPhonesBl{
		width: auto;
	}

	.work .h3, .service .h3 {
		padding: 90px 0 40px 0;
	}

	.work .work-services, .service .work-services {
		width: 288px;
		padding: 0 30px;
	}
	#bodySite #welcome {
		padding: 60px 0 100px 0;
	}
	#bodySite .sectionDescription {
		margin-left: 60px;
		margin-bottom: 50px;
	}
	.ownProduction,
	.experienceIntroductions,
	.scientificPotential,
	.staff{
		width: 100%;
		height: auto;
	}
	.staff{
		margin-bottom: 40px;
	}
	#bodySite #welcomeDescription {
    	margin: 0 89px;
	}

	#partners h3 {
	    padding-top: 130px;
	}
	#partners p{
		margin: 0 150px 60px 150px;
		line-height: 26px;
	}

	.work,
	.service{
		width: 348px;
		height: 450px;
	}
	.work{
		margin-right: 10px;
	}

	.work .h3, .service .h3 {
		padding: 90px 0 40px 0;
	}

	.work .work-services, .service .work-services {
		width: 288px;
		padding: 0 30px;
	}

	#contacts{
		padding-top: 70px;
	}
	#contacts h3{
	font-size: 48px;
    margin-bottom: 40px;
	}
	#contacts p{
	font-weight: 100;
    margin: 0 150px;
    line-height: 26px;
	}
	.contactsName, 
	.contactsPhone{
		padding: 18px 89px;
	    margin-bottom: 10px;
	}
	.contactsForm {
		padding-bottom: 70px;
	}
	.contactsForm #submit{
		width: 54%;
	}

	#contactsMail {
		padding-top: 80px;
	}
	#contactsMail h3 {
		font-size: 48px;
	}
	#contactsMail p {
		font-weight: 200;
	}
	.sectionContactsMail {
		padding-top: 60px;
	}
	.contactsMail1 {
		width: 20%;
		text-align: center;
	}
	.contactsMail2 {
		width: 80%;
	}
	.sectionContactsSingleBl{
		width: 100%;
		clear: both;
		margin-bottom: 15px;
	}

	.footerLeft {
	    width: 100%;
	}
	.footerLeft p{
		text-align: center;
	}
	.footerRight {
		margin: 17px 10px 35px 0;
	}
	#footer img {
		margin-right: 240px;
		margin-top: 0;
	}
}
@media only screen and (max-width : 320px) {
	.head p {
		font-size: 30px;
	}
	.description p {
		font-size: 18px;
		line-height: 20px;
	}
	.btnHeader {
		padding-bottom: 50px;
	}
	.mainBlock {
		margin-top: 10px;
	}
	.mainBlock .wrapper{
		padding: 0;
	}

	#bodySite h3 {
		font-size: 35px;
	}
	#bodySite #welcomeDescription {
		margin: 0 5%;
	}

	.work {
		width: 300px;
		height: 450px;
		margin-bottom: 10px;
	}
	.service {
		width: 300px;
		height: 450px;		
	}
	.work .work-services, .service .work-services {
    font-size: 16px;
    padding: 0 10px;
	}

	#bodySite #welcome{
		display: none;
	}
	#bodySite h3{
		margin-top: 95px;
		font-size: 36px;
	}
	#bodySite #welcomeDescription{
    font-size: 16px;
    margin: 0;
	}
	#bodySite .menuDescription{
		margin-top: 40px;
	}
	.ownProduction{
		width: auto;
		margin-right: 0;
	}
	.sectionDescriptionText {
		width: auto;
	}
	.sectionDescriptionImg{
		float: none;
		height: 0;
	}

	#banner {
    padding-top: 50px;
    padding-bottom: 60px;
	}
	.bannerAligin .btn-header{
		margin: 50px auto 0;
	}
	#banner #persent{
		margin-bottom: 50px;
	}

	#partners h3{
    font-size: 36px;
    padding-top: 100px;
	}
	#partners p{
		margin: 0;
		float: left;
	}

	#contacts{
    	padding-top: 40px;
	}
	#contacts h3{
    	font-size: 36px;
	}
	#contacts p{
		float: left;
		margin: 0 0 40px 0;
	}
	.contactsName, 
	.contactsPhone {
    	padding: 18px 95px;
	}
	.contactsForm #submit {
    	width: 280px;
	}

	#contactsMail {
    	padding-top: 60px;
	}
	#contactsMail h3 {
		margin-bottom: 30px;
	    font-size: 36px;
	}
	#contactsMail .question {
		font-size: 16px;
	}
	.sectionContactsMail {
    	padding-top: 10px;
    	padding-bottom: 35px;
	}
	.contactsMail2pt20 {
    	padding-top: 10px;
	}
	.contactsMail2{
		width: 100%;
	}
	.contactsMail1 img {
    	padding-left: 110px;
	    padding-top: 20px;	
    }
    #contactsMail p{
    	padding-left: 0;
    }



    	#contactsMail {
    	padding-top: 60px;
	}
	#contactsMail h3 {
		margin-bottom: 30px;
	    font-size: 36px;
	}
	#contactsMail .question {
		font-size: 16px;
	}
	.sectionContactsMail {
    	padding-top: 10px;
    	padding-bottom: 35px;
	}
	.contactsMail2pt20 {
    	padding-top: 10px;
	}
	.contactsMail1 img {
    	padding-left: 110px;
	    padding-top: 20px;	
    }
    #contactsMail p{
    	padding-left: 0;
    }
    .contactsMail1Adress {
    	margin-bottom: 0;
    }
    .contactsMail2 {
    	float: left;
    	text-align: center;
    }

	.footerRight {
    	margin: 17px 8px 35px 30px;
	}
	#footer img {
   		margin-right: 27px;
    	margin-left: 0;
	}

}